spring:
  application:
    name: auth-api
  datasource:
    url: jdbc:mysql://localhost:3307/authdb
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  logging:
    level:
      org:
        springframework:
          security: debug