spring:
  application:
    name: auth-api
  datasource:
    url: jdbc:mysql://localhost:3307/authdb
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  logging:
    level:
      org:
        springframework:
          security: debug
  jwt:
    secret: sbSwWc4zpAMzw36bs6yOEz6MH4yD2oM6YDf1tW02zfw=
    expiration: 54000